#timer{
    position: fixed;
    margin-right: 20px;
    margin-top: 200px;
    width: 100px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    right: 0;
    top: 0;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#timer>h3{
padding: 0px;
margin: 0px;
color: green;
margin-bottom: 8px;
margin-top: -25px;
}
#timer>p:first-child{
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
}
#timer>p:last-child{
    color: red;
    margin-top: -4px;
    font-weight: bold;
    font-size: 10px;
}